# Analyse de base des fichiers concernant les collèges de l'éducation nationale.

Objectif : voir les données, trouver des pistes pour comprendre le dataset, et compiler un fichier

Il y a 3 fichiers qui concernent les collèges : <ul>
  <li>fr-en-ips-college-ap-2022.csv => décrit le public des collèges au niveau social (IPS)</li>
  <li>fr-en-indicateurs-valeur-ajoutee-colleges.csv => décrit les résultats des collèges</li>
  <li>fr-en-college-effectif-niveau-sexe-lv.csv => décrit les effectifs dans les classes</li>
</ul>

In [1]:
# import bibliothéques d'analyse de python
import pandas as pd
import numpy as np

In [2]:
college_resultat = pd.read_csv("donnee/fr-en-indicateurs-valeur-ajoutee-colleges.csv",sep=";")
collegue_stat = pd.read_csv("donnee/fr-en-ips-colleges-ap2022.csv",sep=";")
effectif_colleges = pd.read_csv("donnee/fr-en-college-effectifs-niveau-sexe-lv.csv",sep=";")

## Affichage des entêtes des données

In [3]:
effectif_colleges.head(1)

,Rentrée scolaire,Région,Académie,Département,Commune,Numéro du collège,Dénomination principale,Patronyme,Secteur,REP,...,3èmes LV1 allemand,3èmes LV1 anglais,3èmes LV1 espagnol,3èmes LV1 autres langues,3èmes LV2 allemand,3èmes LV2 anglais,3èmes LV2 espagnol,3èmes LV2 italien,3èmes LV2 autres langues,Code postal
0,2019,AUVERGNE-ET-RHONE-ALPES,LYON,RHONE,VILLEURBANNE,0691664J,COLLEGE,JEAN JAURES,PUBLIC,1,...,0,175,0,0,26,0,131,14,0,69100.0

In [4]:
effectif_colleges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32982 entries, 0 to 32981
Data columns (total 76 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Rentrée scolaire                            32982 non-null  int64
 1   Région                                      32982 non-null  object
 2   Académie                                    32982 non-null  object
 3   Département                                 32982 non-null  object
 4   Commune                                     32982 non-null  object
 5   Numéro du collège                           32982 non-null  object
 6   Dénomination principale                     32982 non-null  object
 7   Patronyme                                   32927 non-null  object
 8   Secteur                                     32982 non-null  object
 9   REP                                         32982 non-null  int64
 10  REP +                                       32982 non-null  int64
 11  Nombre d'élèves total                       32982 non-null  int64
 12  Nombre d'élèves total hors Segpa hors ULIS  32982 non-null  int64
 13  Nombre d'élèves total Segpa                 32982 non-null  int64
 14  Nombre d'élèves total ULIS                  32982 non-null  int64
 15  6èmes total                                 32982 non-null  int64
 16  6èmes hors Segpa hors ULIS                  32982 non-null  int64
 17  6èmes Segpa                                 32982 non-null  int64
 18  6èmes ULIS                                  32982 non-null  int64
 19  6èmes filles                                32982 non-null  int64
 20  6èmes garçons                               32982 non-null  int64
 21  6èmes LV1 allemand                          32982 non-null  int64
 22  6èmes LV1 anglais                           32982 non-null  int64
 23  6èmes LV1 espagnol                          32982 non-null  int64
 24  6èmes LV1 autres langues                    32982 non-null  int64
 25  6èmes LV2 allemand                          32982 non-null  int64
 26  6èmes LV2 anglais                           32982 non-null  int64
 27  6èmes LV2 espagnol                          32982 non-null  int64
 28  6èmes LV2 italien                           32982 non-null  int64
 29  6ème LV2 autres langues                     32982 non-null  int64
 30  5èmes total                                 32982 non-null  int64
 31  5èmes hors Segpa hors ULIS                  32982 non-null  int64
 32  5èmes Segpa                                 32982 non-null  int64
 33  5èmes ULIS                                  32982 non-null  int64
 34  5èmes filles                                32982 non-null  int64
 35  5èmes garçons                               32982 non-null  int64
 36  5èmes LV1 allemand                          32982 non-null  int64
 37  5èmes LV1 anglais                           32982 non-null  int64
 38  5èmes LV1 espagnol                          32982 non-null  int64
 39  5èmes LV1 autres langues                    32982 non-null  int64
 40  5èmes LV2 allemand                          32982 non-null  int64
 41  5èmes LV2 anglais                           32982 non-null  int64
 42  5èmes LV2 espagnol                          32982 non-null  int64
 43  5èmes LV2 italien                           32982 non-null  int64
 44  5èmes LV2 autres langues                    32982 non-null  int64
 45  4èmes total                                 32982 non-null  int64
 46  4èmes hors Segpa hors ULIS                  32982 non-null  int64
 47  4èmes Segpa                                 32982 non-null  int64
 48  4èmes ULIS                                  32982 non-null  int64
 49  4èmes filles                                32982 non-null  int64
 50  4èmes garçons                               32982 non-null  int64
 51  4èmes LV1 allemand                          32982 non-null  int64
 52  4èmes LV1 anglais                           32982 non-null  int64
 53  4èmes LV1 espagnol                          32982 non-null  int64
 54  4èmes LV1 autres langues                    32982 non-null  int64
 55  4èmes LV2 allemand                          32982 non-null  int64
 56  4èmes LV2 anglais                           32982 non-null  int64
 57  4èmes LV2 espagnol                          32982 non-null  int64
 58  4èmes LV2 italien                           32982 non-null  int64
 59  4èmes LV2 autres langues                    32982 non-null  int64
 60  3èmes total                                 32982 non-null  int64
 61  3èmes hors Segpa hors ULIS                  32982 non-null  int64
 62  3èmes Segpa                                 32982 non-null  int64
 63  3èmes ULIS                                  32982 non-null  int64
 64  3èmes filles                                32982 non-null  int64
 65  3èmes garçons                               32982 non-null  int64
 66  3èmes LV1 allemand                          32982 non-null  int64
 67  3èmes LV1 anglais                           32982 non-null  int64
 68  3èmes LV1 espagnol                          32982 non-null  int64
 69  3èmes LV1 autres langues                    32982 non-null  int64
 70  3èmes LV2 allemand                          32982 non-null  int64
 71  3èmes LV2 anglais                           32982 non-null  int64
 72  3èmes LV2 espagnol                          32982 non-null  int64
 73  3èmes LV2 italien                           32982 non-null  int64
 74  3èmes LV2 autres langues                    32982 non-null  int64
 75  Code postal                                 32862 non-null  float64
dtypes: float64(1), int64(67), object(8)
memory usage: 19.1+ MB

Le fichier fr-en-college-effectifs-niveau-sexe-lv.csv contient 76 colonnes : <br>
<ul>
  <li>Une colonne rentrée_scolaire avec l'année de la rentrée.</li>
  <li>9 colonnes pour identifier le collège dont numero_college qui peut servir d'identifiant.</li>
  <li>2 colonnes rep et rep_plus pour savoir si le collège est en zone d'enseignement prioritaire.</li>
  <li>64 colonnes qui contiennent les effectifs de la sixième à la troisième.<br>
    Les classes sont divisées en fonction des choix de langues, du sexe, de la section. (SEGPA, ULIS)</li>
</ul>
Il y a beaucoup de colonnes, en fonction du but recherché, je pense ne pas avoir besoin des colonnes qui concernent les langues.<br>

In [5]:
collegue_stat.head(1)

,Rentrée scolaire,Académie,Code du département,Département,UAI,Nom de l'établissment,Code INSEE de la commune,Nom de la commune,Secteur,Effectifs,IPS,Ecart-type de l'IPS
0,2022-2023,LYON,001,AIN,0010026Y,COLLEGE PAUL CLAUDEL,01202,LAGNIEU,public,777.0,111.1,32.8

In [6]:
collegue_stat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6973 entries, 0 to 6972
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rentrée scolaire          6973 non-null   object
 1   Académie                  6973 non-null   object
 2   Code du département       6973 non-null   object
 3   Département               6973 non-null   object
 4   UAI                       6973 non-null   object
 5   Nom de l'établissment     6973 non-null   object
 6   Code INSEE de la commune  6973 non-null   object
 7   Nom de la commune         6973 non-null   object
 8   Secteur                   6973 non-null   object
 9   Effectifs                 6973 non-null   float64
 10  IPS                       6973 non-null   float64
 11  Ecart-type de l'IPS       6973 non-null   float64
dtypes: float64(3), object(9)
memory usage: 653.8+ KB

Le fichiers fr-en-ips-colleges-ap2022.csv contient 12 colonnes.<br>
<br>
Une colonne qui contient l'année de la rentrée dans un format XXXX-YYYY.<br>
8 colonnes pour identifier le collège dont un numéro uai qui correspond au numero_college du précédent fichier<br>
L'effectif du collège ainsi que l'IPS moyen et l'écart-type de l'IPS<br>
<br>
Voir pour mettre la rentrée scolaire du format XXXX-YYYY au format XXXX.<br>

In [7]:
college_resultat.head(1)

,Session,UAI,Nom de l'établissement,Commune,Département,Académie,Secteur,Nb candidats - G,Taux de réussite - G,VA du taux de réussite - G,...,Note à l'écrit - P,Taux d'accès 6ème-3ème,Part présents 3ème ordinaire - Total,Part présents 3ème ordinaire - G,Part présents 3ème ordinaire - P,Part présents 3ème Segpa - Total,Nb mentions AB - G,Nb mentions B - G,Nb mentions TB - G,Nb mentions global - G
0,2023,0010037K,COLLEGE LOUISE DE SAVOIE,PONT D AIN,AIN,LYON,PU,129,78.0,-17.0,...,NaN,95.0,94.0,NaN,NaN,NaN,21,31,28,80

In [8]:
college_resultat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13237 entries, 0 to 13236
Data columns (total 24 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Session                               13237 non-null  int64
 1   UAI                                   13237 non-null  object
 2   Nom de l'établissement                13237 non-null  object
 3   Commune                               13237 non-null  object
 4   Département                           13237 non-null  object
 5   Académie                              13237 non-null  object
 6   Secteur                               13237 non-null  object
 7   Nb candidats - G                      13237 non-null  int64
 8   Taux de réussite - G                  13237 non-null  float64
 9   VA du taux de réussite - G            12712 non-null  float64
 10  Nb candidats - P                      4013 non-null   float64
 11  Taux de réussite - P                  4013 non-null   float64
 12  Note à l'écrit - G                    13237 non-null  float64
 13  VA de la note - G                     12712 non-null  float64
 14  Note à l'écrit - P                    4013 non-null   float64
 15  Taux d'accès 6ème-3ème                13216 non-null  float64
 16  Part présents 3ème ordinaire - Total  13237 non-null  float64
 17  Part présents 3ème ordinaire - G      6621 non-null   float64
 18  Part présents 3ème ordinaire - P      2100 non-null   float64
 19  Part présents 3ème Segpa - Total      2809 non-null   float64
 20  Nb mentions AB - G                    13237 non-null  int64
 21  Nb mentions B - G                     13237 non-null  int64
 22  Nb mentions TB - G                    13237 non-null  int64
 23  Nb mentions global - G                13237 non-null  int64
dtypes: float64(12), int64(6), object(6)
memory usage: 2.4+ MB

In [9]:
college_resultat.describe()

,Session,Nb candidats - G,Taux de réussite - G,VA du taux de réussite - G,Nb candidats - P,Taux de réussite - P,Note à l'écrit - G,VA de la note - G,Note à l'écrit - P,Taux d'accès 6ème-3ème,Part présents 3ème ordinaire - Total,Part présents 3ème ordinaire - G,Part présents 3ème ordinaire - P,Part présents 3ème Segpa - Total,Nb mentions AB - G,Nb mentions B - G,Nb mentions TB - G,Nb mentions global - G
count,13237.000000,13237.000000,13237.000000,12712.000000,4013.000000,4013.000000,13237.000000,12712.000000,4013.000000,13216.000000,13237.000000,6621.000000,2100.000000,2809.000000,13237.000000,13237.000000,13237.000000,13237.000000
mean,2022.499736,112.607691,89.835083,-0.870673,14.085971,73.145527,10.892098,0.005027,7.637204,90.512939,96.801466,95.146655,5.563810,63.414026,22.083780,26.549143,32.624311,81.257234
std,0.500019,48.461432,7.967262,5.812258,9.151698,21.608066,1.638329,0.730088,1.957064,5.730073,3.168629,5.101279,5.312818,31.012069,10.584919,14.464834,24.761978,41.291517
min,2022.000000,30.000000,39.000000,-28.000000,5.000000,0.000000,3.500000,-3.400000,2.000000,27.000000,0.000000,55.000000,0.000000,0.000000,0.000000,1.000000,0.000000,6.000000
25%,2022.000000,77.000000,85.000000,-4.000000,8.000000,60.000000,9.800000,-0.500000,6.200000,88.000000,96.000000,94.000000,2.000000,43.000000,14.000000,16.000000,16.000000,52.000000
50%,2022.000000,109.000000,91.000000,0.000000,12.000000,77.000000,10.900000,0.000000,7.400000,92.000000,98.000000,97.000000,4.000000,71.000000,21.000000,24.000000,27.000000,75.000000
75%,2023.000000,141.000000,96.000000,3.000000,17.000000,90.000000,12.000000,0.500000,8.900000,94.000000,99.000000,98.000000,8.000000,90.000000,28.000000,33.000000,42.000000,102.000000
max,2023.000000,489.000000,100.000000,29.000000,171.000000,100.000000,17.000000,3.300000,15.900000,100.000000,100.000000,100.000000,41.000000,100.000000,102.000000,192.000000,362.000000,468.000000

Le fichier fr-en-indicateurs-valeur-ajoutee-colleges.csv contient 24 colonnes.<br>
<ul>
  <li>la colonne session qui indique la date de l'examen</li>
  <li>6 colonnes pour identifier l'établissement dont un numéro uai</li>
  <li>2 colonnes qui indiquent le nombre de candidats qui passe l'examen(général et professionnel)</li>
  <li>2 colonnes qui indiquent le taux de réussite</li>
  <li>4 colonnes avec le taux de participation à l'examen (gen ,pro ,segpa ,total)</li>
  <li>une colonne contenant le taux d'accès de la sixième à la troisième</li>
  <li>4 colonnes avec le nombre de mentions</li>
  <li>4 colonnes contiennent les valeurs ajoutées calculées par le ministère:<br>
    _ la valeur ajoutée au taux de réussite aux brevets des collège généraux et professionnel.<br>
    _ la valeur ajoutée aux notes du brevet
  </li>
</ul>

# premier nettoyage
<br>
Standardiser les catégories public privé dans la colonne secteur.<br>
Standardiser les rentrées scolaires<br>
Voir pour réduire le nombre de colonnes des fichiers.<br>
Collège voir pour agréger les classes. (langue séparé, est ce utile pour des stats générale ?)<br>

In [10]:
# Les colleges de mayotte et de de guyane On des résultats inattendu selon la notice. Il ont mis ND à la place de certain taux
# Certain éléve n avait pas de trace de leur passage en 6ieme, donc Il ont une valeur ND
# Je passe ces valeur en Nan pour pouvoir travailler avec ces taux en numerique
college_resultat["Taux d\'accès 6ème-3ème"] = college_resultat["Taux d\'accès 6ème-3ème"].replace("ND",np.nan)
college_resultat["Taux d\'accès 6ème-3ème"] = college_resultat["Taux d\'accès 6ème-3ème"].astype('float')

In [11]:
college_resultat.rename(columns={'Session':'Rentrée scolaire'},inplace=True)
college_resultat['Rentrée scolaire'] = college_resultat['Rentrée scolaire']-1

In [12]:
# enlevé les colonne commune avant le merge
college_resultat.drop(columns=["Nom de l'établissement",'Commune','Département','Académie','Secteur',],inplace=True)

Fichier résultat après nettoyage avant le merge :

In [13]:
college_resultat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13237 entries, 0 to 13236
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Rentrée scolaire                      13237 non-null  int64
 1   UAI                                   13237 non-null  object
 2   Nb candidats - G                      13237 non-null  int64
 3   Taux de réussite - G                  13237 non-null  float64
 4   VA du taux de réussite - G            12712 non-null  float64
 5   Nb candidats - P                      4013 non-null   float64
 6   Taux de réussite - P                  4013 non-null   float64
 7   Note à l'écrit - G                    13237 non-null  float64
 8   VA de la note - G                     12712 non-null  float64
 9   Note à l'écrit - P                    4013 non-null   float64
 10  Taux d'accès 6ème-3ème                13216 non-null  float64
 11  Part présents 3ème ordinaire - Total  13237 non-null  float64
 12  Part présents 3ème ordinaire - G      6621 non-null   float64
 13  Part présents 3ème ordinaire - P      2100 non-null   float64
 14  Part présents 3ème Segpa - Total      2809 non-null   float64
 15  Nb mentions AB - G                    13237 non-null  int64
 16  Nb mentions B - G                     13237 non-null  int64
 17  Nb mentions TB - G                    13237 non-null  int64
 18  Nb mentions global - G                13237 non-null  int64
dtypes: float64(12), int64(6), object(1)
memory usage: 1.9+ MB

Les valeurs uniques de la colonne Secteur du fichiers stat :

In [14]:
print(collegue_stat['Secteur'].unique())

['public' 'privé sous contrat']

In [15]:
# changement dans les data ecole_stat['secteur'] et college_stat['secteur']
# Les valeurs doivent être PRIVE ou PUBLIC
collegue_stat['Secteur'] = collegue_stat['Secteur'].replace({'public':'PUBLIC','privé sous contrat':'PRIVE'})

Changement des valeurs uniques : Mettre tout en lettre capitale.<br>
Valeurs uniques de la colonne rentrée scolaire du fichier stat :

In [16]:
print(collegue_stat['Rentrée scolaire'].unique())

['2022-2023']

In [17]:
# remplacer dans les données ecoles_stat et college_stat colonne rentree_scolaire 2022-2023 par 2022
collegue_stat['Rentrée scolaire'] = collegue_stat['Rentrée scolaire'].str[:4].astype('int')

Affichage des valeurs uniques de la colonne Secteurs et de la colonne rentrée scolaire du fichier effectif :

In [18]:
print(effectif_colleges['Secteur'].unique())

['PUBLIC' 'PRIVE']

In [19]:
print(effectif_colleges['Rentrée scolaire'].unique())

[2019 2020 2022 2021]

In [20]:
effectif_colleges.rename(columns={'Numéro du collège':'UAI'},inplace=True)

In [21]:
# création fichier college
fichier_college = pd.merge(effectif_colleges,collegue_stat,on=['Rentrée scolaire','UAI'],how='outer')

In [22]:
fichier_college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32982 entries, 0 to 32981
Data columns (total 86 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Rentrée scolaire                            32982 non-null  int64
 1   Région                                      32982 non-null  object
 2   Académie_x                                  32982 non-null  object
 3   Département_x                               32982 non-null  object
 4   Commune                                     32982 non-null  object
 5   UAI                                         32982 non-null  object
 6   Dénomination principale                     32982 non-null  object
 7   Patronyme                                   32927 non-null  object
 8   Secteur_x                                   32982 non-null  object
 9   REP                                         32982 non-null  int64
 10  REP +                                       32982 non-null  int64
 11  Nombre d'élèves total                       32982 non-null  int64
 12  Nombre d'élèves total hors Segpa hors ULIS  32982 non-null  int64
 13  Nombre d'élèves total Segpa                 32982 non-null  int64
 14  Nombre d'élèves total ULIS                  32982 non-null  int64
 15  6èmes total                                 32982 non-null  int64
 16  6èmes hors Segpa hors ULIS                  32982 non-null  int64
 17  6èmes Segpa                                 32982 non-null  int64
 18  6èmes ULIS                                  32982 non-null  int64
 19  6èmes filles                                32982 non-null  int64
 20  6èmes garçons                               32982 non-null  int64
 21  6èmes LV1 allemand                          32982 non-null  int64
 22  6èmes LV1 anglais                           32982 non-null  int64
 23  6èmes LV1 espagnol                          32982 non-null  int64
 24  6èmes LV1 autres langues                    32982 non-null  int64
 25  6èmes LV2 allemand                          32982 non-null  int64
 26  6èmes LV2 anglais                           32982 non-null  int64
 27  6èmes LV2 espagnol                          32982 non-null  int64
 28  6èmes LV2 italien                           32982 non-null  int64
 29  6ème LV2 autres langues                     32982 non-null  int64
 30  5èmes total                                 32982 non-null  int64
 31  5èmes hors Segpa hors ULIS                  32982 non-null  int64
 32  5èmes Segpa                                 32982 non-null  int64
 33  5èmes ULIS                                  32982 non-null  int64
 34  5èmes filles                                32982 non-null  int64
 35  5èmes garçons                               32982 non-null  int64
 36  5èmes LV1 allemand                          32982 non-null  int64
 37  5èmes LV1 anglais                           32982 non-null  int64
 38  5èmes LV1 espagnol                          32982 non-null  int64
 39  5èmes LV1 autres langues                    32982 non-null  int64
 40  5èmes LV2 allemand                          32982 non-null  int64
 41  5èmes LV2 anglais                           32982 non-null  int64
 42  5èmes LV2 espagnol                          32982 non-null  int64
 43  5èmes LV2 italien                           32982 non-null  int64
 44  5èmes LV2 autres langues                    32982 non-null  int64
 45  4èmes total                                 32982 non-null  int64
 46  4èmes hors Segpa hors ULIS                  32982 non-null  int64
 47  4èmes Segpa                                 32982 non-null  int64
 48  4èmes ULIS                                  32982 non-null  int64
 49  4èmes filles                                32982 non-null  int64
 50  4èmes garçons                               32982 non-null  int64
 51  4èmes LV1 allemand                          32982 non-null  int64
 52  4èmes LV1 anglais                           32982 non-null  int64
 53  4èmes LV1 espagnol                          32982 non-null  int64
 54  4èmes LV1 autres langues                    32982 non-null  int64
 55  4èmes LV2 allemand                          32982 non-null  int64
 56  4èmes LV2 anglais                           32982 non-null  int64
 57  4èmes LV2 espagnol                          32982 non-null  int64
 58  4èmes LV2 italien                           32982 non-null  int64
 59  4èmes LV2 autres langues                    32982 non-null  int64
 60  3èmes total                                 32982 non-null  int64
 61  3èmes hors Segpa hors ULIS                  32982 non-null  int64
 62  3èmes Segpa                                 32982 non-null  int64
 63  3èmes ULIS                                  32982 non-null  int64
 64  3èmes filles                                32982 non-null  int64
 65  3èmes garçons                               32982 non-null  int64
 66  3èmes LV1 allemand                          32982 non-null  int64
 67  3èmes LV1 anglais                           32982 non-null  int64
 68  3èmes LV1 espagnol                          32982 non-null  int64
 69  3èmes LV1 autres langues                    32982 non-null  int64
 70  3èmes LV2 allemand                          32982 non-null  int64
 71  3èmes LV2 anglais                           32982 non-null  int64
 72  3èmes LV2 espagnol                          32982 non-null  int64
 73  3èmes LV2 italien                           32982 non-null  int64
 74  3èmes LV2 autres langues                    32982 non-null  int64
 75  Code postal                                 32862 non-null  float64
 76  Académie_y                                  6973 non-null   object
 77  Code du département                         6973 non-null   object
 78  Département_y                               6973 non-null   object
 79  Nom de l'établissment                       6973 non-null   object
 80  Code INSEE de la commune                    6973 non-null   object
 81  Nom de la commune                           6973 non-null   object
 82  Secteur_y                                   6973 non-null   object
 83  Effectifs                                   6973 non-null   float64
 84  IPS                                         6973 non-null   float64
 85  Ecart-type de l'IPS                         6973 non-null   float64
dtypes: float64(4), int64(67), object(15)
memory usage: 21.6+ MB

In [23]:
# supprime les colonnes en trop (doublons)
fichier_college.drop(columns=['Académie_y','Département_y','Secteur_y'],inplace=True)
# renomme les colonnes avec un _x
fichier_college.rename(columns={'Académie_x':'Académie','Département_x':'Département','Secteur_x':'Secteur'},inplace=True)

In [24]:
#enlevé les langues
fichier_college['6èmes LV2 autres langues'] = "" 
langue = ['èmes LV1 allemand','èmes LV1 anglais','èmes LV1 espagnol','èmes LV1 autres langues','èmes LV2 allemand','èmes LV2 anglais','èmes LV2 espagnol','èmes LV2 italien','èmes LV2 autres langues']
for a in range(3,7,1):
    for b in langue:
        fichier_college.drop(columns=str(a)+b,inplace=True)

In [25]:
fichier_college = pd.merge(fichier_college,college_resultat,on=['Rentrée scolaire','UAI'],how='outer')

Je rajoute des colonnes précalculées pour l'analyse.<br>
Je supprime les colonnes 'Nom de la commune',"Nom de l'établissment",'Code du département' qui font doublons.<br>
Le fichier envoyé pour analyse :

In [26]:
fichier_college.drop(columns=['Nom de la commune',"Nom de l'établissment",'Code du département'],inplace=True)

In [27]:
fichier_college["Pourcentage Ulis sur le nombre d'eleves total"] = fichier_college["Nombre d\'élèves total ULIS"]/fichier_college["Nombre d\'élèves total"]*100

In [28]:
fichier_college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32984 entries, 0 to 32983
Data columns (total 63 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Rentrée scolaire                               32984 non-null  int64
 1   Région                                         32982 non-null  object
 2   Académie                                       32982 non-null  object
 3   Département                                    32982 non-null  object
 4   Commune                                        32982 non-null  object
 5   UAI                                            32984 non-null  object
 6   Dénomination principale                        32982 non-null  object
 7   Patronyme                                      32927 non-null  object
 8   Secteur                                        32982 non-null  object
 9   REP                                            32982 non-null  float64
 10  REP +                                          32982 non-null  float64
 11  Nombre d'élèves total                          32982 non-null  float64
 12  Nombre d'élèves total hors Segpa hors ULIS     32982 non-null  float64
 13  Nombre d'élèves total Segpa                    32982 non-null  float64
 14  Nombre d'élèves total ULIS                     32982 non-null  float64
 15  6èmes total                                    32982 non-null  float64
 16  6èmes hors Segpa hors ULIS                     32982 non-null  float64
 17  6èmes Segpa                                    32982 non-null  float64
 18  6èmes ULIS                                     32982 non-null  float64
 19  6èmes filles                                   32982 non-null  float64
 20  6èmes garçons                                  32982 non-null  float64
 21  6ème LV2 autres langues                        32982 non-null  float64
 22  5èmes total                                    32982 non-null  float64
 23  5èmes hors Segpa hors ULIS                     32982 non-null  float64
 24  5èmes Segpa                                    32982 non-null  float64
 25  5èmes ULIS                                     32982 non-null  float64
 26  5èmes filles                                   32982 non-null  float64
 27  5èmes garçons                                  32982 non-null  float64
 28  4èmes total                                    32982 non-null  float64
 29  4èmes hors Segpa hors ULIS                     32982 non-null  float64
 30  4èmes Segpa                                    32982 non-null  float64
 31  4èmes ULIS                                     32982 non-null  float64
 32  4èmes filles                                   32982 non-null  float64
 33  4èmes garçons                                  32982 non-null  float64
 34  3èmes total                                    32982 non-null  float64
 35  3èmes hors Segpa hors ULIS                     32982 non-null  float64
 36  3èmes Segpa                                    32982 non-null  float64
 37  3èmes ULIS                                     32982 non-null  float64
 38  3èmes filles                                   32982 non-null  float64
 39  3èmes garçons                                  32982 non-null  float64
 40  Code postal                                    32862 non-null  float64
 41  Code INSEE de la commune                       6973 non-null   object
 42  Effectifs                                      6973 non-null   float64
 43  IPS                                            6973 non-null   float64
 44  Ecart-type de l'IPS                            6973 non-null   float64
 45  Nb candidats - G                               13237 non-null  float64
 46  Taux de réussite - G                           13237 non-null  float64
 47  VA du taux de réussite - G                     12712 non-null  float64
 48  Nb candidats - P                               4013 non-null   float64
 49  Taux de réussite - P                           4013 non-null   float64
 50  Note à l'écrit - G                             13237 non-null  float64
 51  VA de la note - G                              12712 non-null  float64
 52  Note à l'écrit - P                             4013 non-null   float64
 53  Taux d'accès 6ème-3ème                         13216 non-null  float64
 54  Part présents 3ème ordinaire - Total           13237 non-null  float64
 55  Part présents 3ème ordinaire - G               6621 non-null   float64
 56  Part présents 3ème ordinaire - P               2100 non-null   float64
 57  Part présents 3ème Segpa - Total               2809 non-null   float64
 58  Nb mentions AB - G                             13237 non-null  float64
 59  Nb mentions B - G                              13237 non-null  float64
 60  Nb mentions TB - G                             13237 non-null  float64
 61  Nb mentions global - G                         13237 non-null  float64
 62  Pourcentage Ulis sur le nombre d'eleves total  32982 non-null  float64
dtypes: float64(53), int64(1), object(9)
memory usage: 15.9+ MB

In [29]:
fichier_college.to_csv("donnee_temp/college.csv",index=False)