# Analyse de base des fichiers concernant les lycées

Objectif : faire un fichier pour lancer des analyses.

In [1]:
# import bibliothéques d'analyse de python
import pandas as pd
import numpy as np

In [2]:
ips_lycee = pd.read_csv('donnee/fr-en-ips-lycees-ap2022.csv',sep=';')
va_lycee_gen = pd.read_csv('donnee/fr-en-indicateurs-de-resultat-des-lycees-denseignement-general-et-technologique.csv',sep=';',low_memory=False)
va_lycee_pro = pd.read_csv('donnee/fr-en-indicateurs-de-resultat-des-lycees-denseignement-professionnels.csv',sep=';',low_memory=False)

## Affichage des fichiers bruts

In [3]:
ips_lycee.head(1)

,Rentrée scolaire,Académie,Code du département,Département,UAI,Nom de l'établissment,Code INSEE de la commune,Nom de la commune,Secteur,Type de lycée,Effectifs voie GT,Effectifs voie PRO,Effectifs Ensemble GT-PRO,IPS voie GT,IPS voie PRO,IPS Ensemble GT-PRO,Ecart-type de l'IPS voie GT,Ecart-type de l'IPS voie PRO
0,2022-2023,LYON,001,AIN,0010021T,LYCEE PROFESSIONNEL MARCELLE PARDE LYCEE DES M...,01053,BOURG EN BRESSE,public,LP,NaN,520.0,520.0,NaN,86.5,86.5,NaN,24.3

In [4]:
ips_lycee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3598 entries, 0 to 3597
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Rentrée scolaire              3598 non-null   object
 1   Académie                      3598 non-null   object
 2   Code du département           3598 non-null   object
 3   Département                   3598 non-null   object
 4   UAI                           3598 non-null   object
 5   Nom de l'établissment         3598 non-null   object
 6   Code INSEE de la commune      3598 non-null   object
 7   Nom de la commune             3598 non-null   object
 8   Secteur                       3598 non-null   object
 9   Type de lycée                 3598 non-null   object
 10  Effectifs voie GT             2464 non-null   float64
 11  Effectifs voie PRO            2075 non-null   float64
 12  Effectifs Ensemble GT-PRO     3598 non-null   float64
 13  IPS voie GT                   2464 non-null   float64
 14  IPS voie PRO                  2075 non-null   float64
 15  IPS Ensemble GT-PRO           3598 non-null   float64
 16  Ecart-type de l'IPS voie GT   2464 non-null   float64
 17  Ecart-type de l'IPS voie PRO  2075 non-null   float64
dtypes: float64(8), object(10)
memory usage: 506.1+ KB

Le fichier fr-en-ips-lycees-ap2022.csv contient 18 colonnes<br>
<ul>
  <li>10 colonnes pour décrire le lycée (adresse, type de lycée,...)</li>
  <li>une colonne qui indique la rentrée au format XXXX-YYYY</li>
  <li>3 colonnes qui décrivent les effectifs général, professionnel et totaux</li>
  <li>5 colonnes pour décrire l'IPS selon le cursus général ou pro, ainsi que l'écart-type</li>
</ul>

On va créer un carnet d'adresses avec le numéro uai à partir de ce fichier.<br>
On va reformater la colonne rentrée scolaire. (passée de XXXX-YYYY à XXXX)

In [5]:
va_lycee_gen.head(1)

,Etablissement,Annee,Ville,UAI,Code commune,Academie,Departement,Secteur,Presents - L,Presents - ES,...,Taux de mentions - Gnle,Valeur ajoutée du taux de mentions - Gnle,Nombre de mentions TB avec félicitations - G,Nombre de mentions TB sans félicitations - G,Nombre de mentions B - G,Nombre de mentions AB - G,Nombre de mentions TB avec félicitations - T,Nombre de mentions TB sans félicitations - T,Nombre de mentions B - T,Nombre de mentions AB - T
0,LYCEE XAVIER BICHAT (GENERAL ET TECHNO.),2021,NANTUA,0010032E,01269,LYON,AIN,public,NaN,NaN,...,70.0,-7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
va_lycee_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27808 entries, 0 to 27807
Columns: 145 entries, Etablissement to Nombre de mentions AB - T
dtypes: float64(80), int64(3), object(62)
memory usage: 30.8+ MB

Le fichier fr-en-indicateurs-de-resultat-des-lycees-denseignement-general-et-technologique.csv contient les 145 colonnes suivantes :

In [7]:
for a in va_lycee_gen.columns :
    print(a)

Etablissement
Annee
Ville
UAI
Code commune
Academie
Departement
Secteur
Presents - L
Presents - ES
Presents - S
Presents - STG
Presents - STI2D
Presents - STD2A
Presents - STMG
Presents - STI
Presents - STL
Presents - ST2S
Presents - TMD
Presents - STHR
Presents - Toutes series
Taux de reussite - L
Taux de reussite - ES
Taux de reussite - S
Taux de reussite - STG
Taux de reussite - STI2D
Taux de reussite - STD2A
Taux de reussite - STMG
Taux de reussite - STI
Taux de reussite - STL
Taux de reussite - ST2S
Taux de reussite - TMD
Taux de reussite - STHR
Taux de reussite - Toutes series
Taux de reussite attendu acad - L
Taux de reussite attendu acad - ES
Taux de reussite attendu acad - S
Taux de reussite attendu acad - STG
Taux de reussite attendu acad - STI2D
Taux de reussite attendu acad - STD2A
Taux de reussite attendu acad - STMG
Taux de reussite attendu acad - STI
Taux de reussite attendu acad - STL
Taux de reussite attendu acad - ST2S
Taux de reussite attendu acad - TMD
Taux de reussite attendu acad - STHR
Taux de reussite attendu acad - Toutes series
Taux de reussite attendu france - L
Taux de reussite attendu france - ES
Taux de reussite attendu france - S
Taux de reussite attendu france - STG
Taux de reussite attendu france - STI2D
Taux de reussite attendu france - STD2A
Taux de reussite attendu france - STMG
Taux de reussite attendu france - STI
Taux de reussite attendu france - STL
Taux de reussite attendu france - ST2S
Taux de reussite attendu france - TMD
Taux de reussite attendu france - STHR
Taux de reussite attendu france - Toutes series
Taux de mentions - L
Taux de mentions - ES
Taux de mentions - S
Taux de mentions - STI2D
Taux de mentions - STD2A
Taux de mentions - STMG
Taux de mentions - STL
Taux de mentions - ST2S
Taux de mentions - TMD
Taux de mentions - STHR
Taux de mentions - Toutes series
Taux de mentions attendu - L
Taux de mentions attendu - ES
Taux de mentions attendu - S
Taux de mentions attendu - STI2D
Taux de mentions attendu - STD2A
Taux de mentions attendu - STMG
Taux de mentions attendu - STL
Taux de mentions attendu - ST2S
Taux de mentions attendu - TMD
Taux de mentions attendu - STHR
Taux de mentions attendu - Toutes series
Structure pedagogique 5 groupes
Structure pedagogique 7 groupes
Pourcentage bacheliers sortants 2de 1re Terminale Etablissement
Pourcentage bacheliers sortants Terminales Etablissement
Pourcentage bacheliers sortants 2de 1re Terminale Acad
Pourcentage bacheliers sortants Terminale Acad
Pourcentage bacheliers sortants 2de 1re Terminale France
Pourcentage bacheliers sortants Terminale France
Effectif de seconde
Effectif de premiere
Effectif de terminale
Taux d'acces 2nde-bac
Taux d'acces attendu acad 2nde-bac
Taux d'acces attendu france 2nde-bac
Taux d'acces 1ere-bac
Taux d'acces attendu acad 1ere-bac
Taux d'acces attendu france 1ere-bac
Taux d'acces terminale-bac
Taux d'acces attendu france terminale-bac
Region
Code region
Code departement
Libelle departement
Valeur ajoutee du taux de reussite - Toutes series
Valeur ajoutee du taux d'acces 2nde-bac
Valeur ajoutee du taux de mentions - Toutes series
Valeur ajoutee du taux de reussite - L
Valeur ajoutee du taux de reussite - ES
Valeur ajoutee du taux de reussite - S
Valeur ajoutee du taux de reussite - STG
Valeur ajoutee du taux de reussite - STI2D
Valeur ajoutee du taux de reussite - STD2A
Valeur ajoutee du taux de reussite - STMG
Valeur ajoutee du taux de reussite - STI
Valeur ajoutee du taux de reussite - STL
Valeur ajoutee du taux de reussite - ST2S
Valeur ajoutee du taux de reussite - TMD
Valeur ajoutee du taux de reussite - STHR
Valeur ajoutee du taux d'acces 1ere-bac
Valeur ajoutee du taux d'acces terminale-bac
Valeur ajoutee du taux de mentions - L
Valeur ajoutee du taux de mentions - ES
Valeur ajoutee du taux de mentions - S
Valeur ajoutee du taux de mentions - STI2D
Valeur ajoutee du taux de mentions - STD2A
Valeur ajoutee du taux de mentions - STMG
Valeur ajoutee du taux de mentions - STL
Valeur ajoutee du taux de mentions - ST2S
Valeur ajoutee du taux de mentions - TMD
Valeur ajoutee du taux de mentions - STHR
Presents - Gnle
Taux de reussite - Gnle
Valeur ajoutee du taux de réussite - Gnle
Taux de mentions - Gnle
Valeur ajoutée du taux de mentions - Gnle
Nombre de mentions TB avec félicitations - G
Nombre de mentions TB sans félicitations - G
Nombre de mentions B - G
Nombre de mentions AB - G
Nombre de mentions TB avec félicitations - T
Nombre de mentions TB sans félicitations - T
Nombre de mentions B - T
Nombre de mentions AB - T

Le fichier fr-en-indicateurs-de-resultat-des-lycees-denseignement-general-et-technologique.csv contient 145 colonnes<br>
<ul>
  <li>une colonne annee qui est l'année de la rentrée scolaire</li>
  <li>11 colonne pour décrire l'établissement (adresse, secteur public ou privé, numéro uai)</li>
  <li>pour chaque serie:
    <ul>
      <li>une colonne effectif_present qui donne le nombre de candidats qui passe le bac</li>
      <li>le taux brut de réussite</li>
      <li>le taux de réussite attendu en France, dans l'académie</li>
      <li>le taux de mention brut et attendu</li>
      <li>la valeur ajoutée pour le taux de réussite et la valeur ajoutée pour le taux mention</li>
    </ul>
    </li>
    <li>8 colonnes qui donnent le nombre de mentions par collège toute séries confondus</li>
</ul>
Alors pour limiter le nombre de colonnes : création d'une colonne serie et fusion de toutes les colonnes des series.<br>

In [8]:
va_lycee_pro.head(1)

,Etablissement,UAI,Annee,Ville,Code commune,Academie,Departement,Secteur,Presents - Specialites pluri-technologiques de la production,Presents - Transformations,...,Valeur ajoutee du taux de mentions - Specialites plurivalentes des services,Valeur ajoutee du taux de mentions - Echanges et gestion,Valeur ajoutee du taux de mentions - Communication et information,Valeur ajoutee du taux de mentions - Services aux personnes,Valeur ajoutee du taux de mentions - Services a la collectivite,Valeur ajoutee du taux de mentions - Services,Valeur ajoutee du taux de mentions - Toutes series,Nombre de mentions TB sans félicitations - P,Nombre de mentions B - P,Nombre de mentions AB - P
0,LYCEE PROFESSIONNEL SAINTE JEANNE D'ARC,0592928M,2019,AULNOYE AYMERIES,59033,LILLE,NORD,privé sous contrat,NaN,5.0,...,NaN,NaN,NaN,3,NaN,3,5.0,NaN,NaN,NaN

In [9]:
va_lycee_pro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24236 entries, 0 to 24235
Columns: 130 entries, Etablissement to Nombre de mentions AB - P
dtypes: float64(62), int64(3), object(65)
memory usage: 24.0+ MB

Le fichier fr-en-indicateurs-de-resultat-des-lycees-denseignement-professionnels.csv contient les 130 colonnes suivantes :

In [10]:
for a in va_lycee_pro.columns :
    print(a)

Etablissement
UAI
Annee
Ville
Code commune
Academie
Departement
Secteur
Presents - Specialites pluri-technologiques de la production
Presents - Transformations
Presents - Genie civil construction bois
Presents - Materiaux souples
Presents - Mecanique electricite electronique
Presents - Production
Presents - Specialites plurivalentes des services
Presents - Echanges et gestion
Presents - Communication et information
Presents - Services aux personnes
Presents - Services a la collectivite
Presents - Services
Presents - Toutes series
Taux de reussite - Specialites pluri-technologiques de la production
Taux de reussite - Transformations
Taux de reussite - Genie civil construction bois
Taux de reussite - Materiaux souples
Taux de reussite - Mecanique electricite electronique
Taux de reussite - Production
Taux de reussite - Specialites plurivalentes des services
Taux de reussite - Echanges et gestion
Taux de reussite - Communication et information
Taux de reussite - Services aux personnes
Taux de reussite - Services a la collectivite
Taux de reussite - Services
Taux de reussite - Toutes series
Taux de reussite attendu france - Specialites pluri-technologiques de la production
Taux de reussite attendu france - Transformations
Taux de reussite attendu france - Genie civil construction bois
Taux de reussite attendu france - Materiaux souples
Taux de reussite attendu france - Mecanique electricite electronique
Taux de reussite attendu france - Specialites plurivalentes des services
Taux de reussite attendu france - Echanges et gestion
Taux de reussite attendu france - Communication et information
Taux de reussite attendu france - Services aux personnes
Taux de reussite attendu france - Services a la collectivite
Taux de reussite attendu acad - Production
Taux de reussite attendu acad - Services
Taux de reussite attendu acad - Toutes series
Taux de reussite attendu france - Production
Taux de reussite attendu france - Services
Taux de reussite attendu france - Toutes series
Pourcentage bacheliers sortants 2de 1re Terminale Etablissement
Pourcentage bacheliers sortants Terminales Etablissement
Pourcentage bacheliers sortants 2de 1re Terminale Acad
Pourcentage bacheliers sortants Terminale Acad
Pourcentage bacheliers sortants 2de 1re Terminale France
Pourcentage bacheliers sortants Terminale France
Effectif de seconde
Effectif de premiere
Effectif de terminale
Taux d'acces 2nde-bac
Taux d'acces attendu acad 2nde-bac
Taux d'acces attendu france 2nde-bac
Taux d'acces 1ere-bac
Taux d'acces attendu acad 1ere-bac
Taux d'acces attendu france 1ere-bac
Taux d'acces terminale-bac
Taux d'acces attendu france terminale-bac
Taux de mentions - Specialites pluri-technologiques de la production
Taux de mentions - Transformations
Taux de mentions - Genie civil construction bois
Taux de mentions - Materiaux souples
Taux de mentions - Mecanique electricite electronique
Taux de mentions - Specialites plurivalentes des services
Taux de mentions - Echanges et gestion
Taux de mentions - Communication et information
Taux de mentions - Services aux personnes
Taux de mentions - Services a la collectivite
Taux de mentions - Production
Taux de mentions - Services
Taux de mentions - Toutes series
Taux de mentions attendu - Specialites pluri-technologiques de la production
Taux de mentions attendu - Transformations
Taux de mentions attendu - Genie civil construction bois
Taux de mentions attendu - Materiaux souples
Taux de mentions attendu - Mecanique electricite electronique
Taux de mentions attendu - Specialites plurivalentes des services
Taux de mentions attendu - Echanges et gestion
Taux de mentions attendu - Communication et information
Taux de mentions attendu - Services aux personnes
Taux de mentions attendu - Services a la collectivite
Taux de mentions attendu - Production
Taux de mentions attendu - Services
Taux de mentions attendu - Toutes series
Structure pedagogique 7 groupes
Region
Code region
Libelle departement
Code departement
Valeur ajoutee du taux de reussite - Specialites pluri-technologiques de la production
Valeur ajoutee du taux de reussite - Transformations
Valeur ajoutee du taux de reussite - Genie civil construction bois
Valeur ajoutee du taux de reussite - Materiaux souples
Valeur ajoutee du taux de reussite - Mecanique electricite electronique
Valeur ajoutee du taux de reussite - Production
Valeur ajoutee du taux de reussite - Specialites plurivalentes des services
Valeur ajoutee du taux de reussite - Echanges et gestion
Valeur ajoutee du taux de reussite - Communication et information
Valeur ajoutee du taux de reussite - Services aux personnes
Valeur ajoutee du taux de reussite - Services a la collectivite
Valeur ajoutee du taux de reussite - Services
Valeur ajoutee du taux de reussite - Toutes series
Valeur ajoutee du taux d'acces 2nde-bac
Valeur ajoutee du taux d'acces 1ere-bac
Valeur ajoutee du taux d'acces terminale-bac
Valeur ajoutee du taux de mentions - Specialites pluri-technologiques de la production
Valeur ajoutee du taux de mentions - Transformations
Valeur ajoutee du taux de mentions - Genie civil construction bois
Valeur ajoutee du taux de mentions - Materiaux souples
Valeur ajoutee du taux de mentions - Mecanique electricite electronique
Valeur ajoutee du taux de mentions - Production
Valeur ajoutee du taux de mentions - Specialites plurivalentes des services
Valeur ajoutee du taux de mentions - Echanges et gestion
Valeur ajoutee du taux de mentions - Communication et information
Valeur ajoutee du taux de mentions - Services aux personnes
Valeur ajoutee du taux de mentions - Services a la collectivite
Valeur ajoutee du taux de mentions - Services
Valeur ajoutee du taux de mentions - Toutes series
Nombre de mentions TB sans félicitations - P
Nombre de mentions B - P
Nombre de mentions AB - P

Le fichier contient les éléments suivants :<br>
<ul>
  <li>Une colonne annee avec l'année scolaire</li>
  <li>9 colonnes qui décrivent le lycée (adresse, secteur public ou privé, uai, ...)</li>
  <li>3 colonnes pour les mentions (pas de mention très bien avec félicitations par rapport au lycée général)</li>
  <li>pour chaque spécialité professionnelle :
    <ul>
      <li>une colonne effectif qui donne le nombre de candidats pour le diplôme preparé</li>
      <li>un taux brut de réussite</li>
      <li>un taux de réussite attendu en France</li>
      <li>un taux de réussite attendu dans l'académie</li>
      <li>un taux brut de mention</li>
      <li>un taux de mention attendu</li>
      <li>la valeur ajoutée due à l'établissement au taux de réussite</li>
      <li>la valeur ajoutée due à l'établissement au taux de mention</li>
      <li>la valeur ajoutée due à l'établissement au taux d'accès (le lycée garde ces élèves au cours de la formation.)</li>
    </ul>
  </li>
  <li>les taux d'accès de l'établissement</li>
</ul>

Pour l'instant, je me concentre sur les différentes series, et l'IPS des établissements.<br>
Pour cela, je vais créer comme pour le lycée général une colonne serie et fusionner les différentes colonnes communes.<br>

In [11]:
adresse_lycee = ips_lycee[['UAI','Académie','Département','Code du département',"Nom de l'établissment",'Code INSEE de la commune','Nom de la commune','Type de lycée']].groupby(by='UAI').apply(lambda x :x,include_groups=False)

In [12]:
adresse_lycee.head()

,,Académie,Département,Code du département,Nom de l'établissment,Code INSEE de la commune,Nom de la commune,Type de lycée
UAI,,,,,,,,
0010001W,682,LYON,AIN,001,LYCEE PROFESSIONNEL ALEXANDRE BERARD LYCEE DES...,01004,AMBERIEU EN BUGEY,LP
0010006B,683,LYON,AIN,001,LYCEE POLYVALENT SAINT EXUPERY LYCEE DES METIE...,01033,VALSERHONE,LPO
0010010F,2917,LYON,AIN,001,LYCEE GENERAL ET TECHNOLOGIQUE DU BUGEY,01034,BELLEY,LEGT
0010013J,684,LYON,AIN,001,LYCEE GENERAL LALANDE,01053,BOURG EN BRESSE,LEGT
0010014K,2156,LYON,AIN,001,LYCEE GENERAL ET TECHNOLOGIQUE EDGAR QUINET,01053,BOURG EN BRESSE,LEGT

Affichage des données uniques de la colonne Rentrée scolaire du fichier IPS :

In [13]:
print(ips_lycee['Rentrée scolaire'].unique())

['2022-2023']

Affichage des  éléments uniques après changement de la colonne Rentrée scolaire du fichier IPS :

In [14]:
ips_lycee['Rentrée scolaire'] = ips_lycee['Rentrée scolaire'].str[:4].astype(int)
print(ips_lycee['Rentrée scolaire'].unique())

[2022]

In [15]:
ips_lycee.drop(columns=['Secteur','Académie',
'Code du département','Département',"Nom de l'établissment",
'Code INSEE de la commune','Nom de la commune','Type de lycée',
'Effectifs voie GT','Effectifs voie PRO','Effectifs Ensemble GT-PRO'],inplace=True)

In [16]:
va_lycee_gen.rename(columns={'Annee':'Rentrée scolaire'},inplace=True)

In [17]:
# enlevé les resneignement type adresse
va_lycee_gen.drop(columns=['Code commune','Ville','Academie','Departement','Etablissement','Region','Libelle departement','Code region','Code departement'],inplace=True)

In [18]:
# faire une liste des series dans le fichier va_lycee_gen
liste_serie_gen = []

for nom_colonne in va_lycee_gen.columns:
    if nom_colonne.startswith('Presents'):
        liste_serie_gen.append(nom_colonne[8:])

In [19]:
# changer le "ND" par nan
va_lycee_gen.replace({'ND':np.nan},regex=True,inplace=True)

In [20]:
# ajouter des colonne vide
va_lycee_gen["Valeur ajoutee du taux de reussite - STG"] = np.nan
va_lycee_gen["Valeur ajoutee du taux de reussite - STI"] = np.nan
va_lycee_gen['Taux de reussite attendu france - Gnle'] = np.nan

In [21]:
# faire un dataframe avec serie

lycee_gen = pd.DataFrame(columns=['Rentrée scolaire','UAI','Secteur','Serie','Type de diplome gen pro','Presents'
                                    ,'Taux de reussite','Taux de reussite attendu acad','Taux de reussite attendu france'
                                    ,'Taux de mentions','Taux de mentions attendu'
                                    ,"Valeur ajoutee du taux de reussite"
                                    ,"Valeur ajoutee du taux de mentions"])
for serie in  liste_serie_gen: 
    liste_colonne = []
    colonne_mention =[]
    dico_serie = {'Presents'+serie:'Presents'
                ,'Taux de reussite'+serie:'Taux de reussite'
                ,'Taux de reussite attendu acad'+serie:'Taux de reussite attendu acad'
                ,'Taux de reussite attendu france'+serie:'Taux de reussite attendu france'
                ,'Taux de mentions'+serie:'Taux de mentions'
                ,'Taux de mentions attendu'+serie:'Taux de mentions attendu'
                ,"Valeur ajoutee du taux de reussite"+serie:"Valeur ajoutee du taux de reussite"
                ,"Valeur ajoutee du taux de mentions"+serie:"Valeur ajoutee du taux de mentions"
                }

    for colonne in va_lycee_gen.columns:
        if colonne.endswith(serie):
            liste_colonne.append(colonne)
        if colonne.startswith('nombre_de_mentions'):
            colonne_mention.append(colonne)
    liste_colonne +=['Rentrée scolaire','Secteur','UAI']
    temps_data = va_lycee_gen[~va_lycee_gen['Presents'+serie].isna()][liste_colonne].copy()
    temps_data['Serie']= serie[2:]
    temps_data['Type de diplome gen pro'] = 'gen'
    temps_data.rename(columns=dico_serie,inplace=True)
    lycee_gen = pd.concat([lycee_gen.astype('object'),temps_data.astype('object')])

In [22]:
#changer les types

lycee_gen['Presents'] = lycee_gen['Presents'].astype(int)
lycee_gen['Taux de reussite'] = lycee_gen['Taux de reussite'].astype(float)
lycee_gen['Taux de reussite attendu acad'] = lycee_gen['Taux de reussite attendu acad'].astype(float)
lycee_gen['Taux de mentions'] = lycee_gen['Taux de mentions'].astype(float)
lycee_gen['Valeur ajoutee du taux de reussite'] = lycee_gen['Valeur ajoutee du taux de reussite'].astype(float)
lycee_gen['Valeur ajoutee du taux de mentions'] = lycee_gen['Valeur ajoutee du taux de mentions'].astype(float)
lycee_gen['Valeur ajoutee du taux de réussite - Gnle'] = lycee_gen['Valeur ajoutee du taux de réussite - Gnle'].astype(float)
lycee_gen['Valeur ajoutée du taux de mentions - Gnle'] = lycee_gen['Valeur ajoutée du taux de mentions - Gnle'].astype(float)

# des mauvaises valeur sont dans le dataframe
lycee_gen['Taux de mentions attendu'] = lycee_gen['Taux de mentions attendu'].replace({'56(1)':56,'36(1)':36})
lycee_gen['Taux de reussite attendu france'] = lycee_gen['Taux de reussite attendu france'].replace({'92(1)':92,'86(1)':86})

lycee_gen['Taux de mentions attendu'] = lycee_gen['Taux de mentions attendu'].astype(float)
lycee_gen['Taux de reussite attendu france'] = lycee_gen['Taux de reussite attendu france'].astype(float)

Le fichier lycee_gen après changement :

In [23]:
lycee_gen.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120203 entries, 468 to 26317
Data columns (total 15 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   Rentrée scolaire                           120203 non-null  object
 1   UAI                                        120203 non-null  object
 2   Secteur                                    120203 non-null  object
 3   Serie                                      120203 non-null  object
 4   Type de diplome gen pro                    120203 non-null  object
 5   Presents                                   120203 non-null  int64
 6   Taux de reussite                           120203 non-null  float64
 7   Taux de reussite attendu acad              31561 non-null   float64
 8   Taux de reussite attendu france            85010 non-null   float64
 9   Taux de mentions                           66106 non-null   float64
 10  Taux de mentions attendu                   32167 non-null   float64
 11  Valeur ajoutee du taux de reussite         107927 non-null  float64
 12  Valeur ajoutee du taux de mentions         58163 non-null   float64
 13  Valeur ajoutee du taux de réussite - Gnle  6490 non-null    float64
 14  Valeur ajoutée du taux de mentions - Gnle  6490 non-null    float64
dtypes: float64(9), int64(1), object(5)
memory usage: 14.7+ MB

In [24]:
va_lycee_pro.rename(columns={'Annee':'Rentrée scolaire'},inplace=True)

In [25]:
va_lycee_pro.drop(columns=['Etablissement','Ville','Code commune','Academie','Departement'],inplace=True)

In [26]:
#listez les serie générale et technologique
liste_serie_pro = []
for nom_colonne in va_lycee_pro.columns:
    if nom_colonne.startswith('Presents'):
        liste_serie_pro.append(nom_colonne[8:])

In [27]:
# faire un dataframe avec serie

lycee_pro = pd.DataFrame(columns=['Rentrée scolaire','UAI','Secteur','Serie','Type de diplome gen pro','Presents'
                                    ,'Taux de reussite','Taux de reussite attendu acad','Taux de reussite attendu france'
                                    ,'Taux de mentions','Taux de mentions attendu'
                                    ,'Valeur ajoutee du taux de reussite',"Valeur ajoutee du taux de mentions"])
for serie in  liste_serie_pro: 
    liste_colonne = []
    dico_serie = {'Presents'+serie:'Presents'
                ,'Taux de reussite'+serie:'Taux de reussite'
                ,'Taux de reussite attendu acad'+serie:'Taux de reussite attendu acad'
                ,'Taux de reussite attendu france'+serie:'Taux de reussite attendu france'
                ,'Taux de mentions'+serie:'Taux de mentions'
                ,'Taux de mentions attendu'+serie:'Taux de mentions attendu'
                ,'Valeur ajoutee du taux de reussite'+serie:'Valeur ajoutee du taux de reussite'
                ,"Valeur ajoutee du taux de mentions"+serie:"Valeur ajoutee du taux de mentions"
                }
    for colonne in va_lycee_pro.columns:
        if colonne.endswith(serie):
            liste_colonne.append(colonne)
    liste_colonne +=['Rentrée scolaire','Secteur','UAI']
    temps_data = va_lycee_pro[~va_lycee_pro['Presents'+serie].isna()][liste_colonne].copy()
    temps_data['Serie']= serie[2:]
    temps_data['Type de diplome gen pro'] = 'pro'
    temps_data.rename(columns=dico_serie,inplace=True)
    lycee_pro = pd.concat([lycee_pro.astype("object"),temps_data.astype('object')])

In [28]:
#changement des type de colonne
lycee_pro['Presents'] = lycee_pro['Presents'].astype(int)
lycee_pro['Taux de reussite'] = lycee_pro['Taux de reussite'].astype(float)
lycee_pro['Taux de reussite attendu acad'] = lycee_pro['Taux de reussite attendu acad'].astype(float)
lycee_pro['Taux de mentions'] = lycee_pro['Taux de mentions'].astype(float)


# erreurs dans la convertion : ND present remplacé par Nan et des valeur avec des XX(1)
lycee_pro['Taux de mentions attendu'] = lycee_pro['Taux de mentions attendu'].replace({'ND':np.nan})
lycee_pro['Taux de mentions attendu'] = lycee_pro['Taux de mentions attendu'].str[:2]
lycee_pro['Taux de mentions attendu'] = lycee_pro['Taux de mentions attendu'].astype(float)

lycee_pro['Valeur ajoutee du taux de mentions'] = lycee_pro['Valeur ajoutee du taux de mentions'].replace({'ND':np.nan})
lycee_pro['Valeur ajoutee du taux de mentions'] = lycee_pro['Valeur ajoutee du taux de mentions'].astype(float)

lycee_pro['Valeur ajoutee du taux de reussite'] = lycee_pro['Valeur ajoutee du taux de reussite'].replace({'ND':np.nan})
lycee_pro['Valeur ajoutee du taux de reussite'] = lycee_pro['Valeur ajoutee du taux de reussite'].astype(float)

lycee_pro['Taux de reussite attendu france'] = lycee_pro['Taux de reussite attendu france'].replace({'ND':np.nan})
lycee_pro['Taux de reussite attendu france'] = lycee_pro['Taux de reussite attendu france'].str[:2]
lycee_pro['Taux de reussite attendu france'] = lycee_pro['Taux de reussite attendu france'].astype(float)

Le Dataframe lycée_pro après changement :

In [29]:
lycee_pro.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102793 entries, 36 to 24235
Data columns (total 13 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Rentrée scolaire                    102793 non-null  object
 1   UAI                                 102793 non-null  object
 2   Secteur                             102793 non-null  object
 3   Serie                               102793 non-null  object
 4   Type de diplome gen pro             102793 non-null  object
 5   Presents                            102793 non-null  int64
 6   Taux de reussite                    102793 non-null  float64
 7   Taux de reussite attendu acad       8124 non-null    float64
 8   Taux de reussite attendu france     46236 non-null   float64
 9   Taux de mentions                    65827 non-null   float64
 10  Taux de mentions attendu            28914 non-null   float64
 11  Valeur ajoutee du taux de reussite  100638 non-null  float64
 12  Valeur ajoutee du taux de mentions  67283 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 11.0+ MB

In [30]:
#merger les fichiers ensembles
fichier_lycee = pd.concat([lycee_gen,lycee_pro])
fichier_lycee = pd.merge(fichier_lycee,ips_lycee, on=['UAI','Rentrée scolaire'],how='left')
fichier_lycee = pd.merge(fichier_lycee,adresse_lycee, on='UAI',how='left')

In [31]:
fichier_lycee['Secteur'] = fichier_lycee['Secteur'].replace({'public':'PUBLIC','privé sous contrat':'PRIVE'})

Le fichier utilisé pour analyse :

In [32]:
fichier_lycee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222996 entries, 0 to 222995
Data columns (total 27 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   Rentrée scolaire                           222996 non-null  object
 1   UAI                                        222996 non-null  object
 2   Secteur                                    222996 non-null  object
 3   Serie                                      222996 non-null  object
 4   Type de diplome gen pro                    222996 non-null  object
 5   Presents                                   222996 non-null  int64
 6   Taux de reussite                           222996 non-null  float64
 7   Taux de reussite attendu acad              39685 non-null   float64
 8   Taux de reussite attendu france            131246 non-null  float64
 9   Taux de mentions                           131933 non-null  float64
 10  Taux de mentions attendu                   61081 non-null   float64
 11  Valeur ajoutee du taux de reussite         208565 non-null  float64
 12  Valeur ajoutee du taux de mentions         125446 non-null  float64
 13  Valeur ajoutee du taux de réussite - Gnle  6490 non-null    float64
 14  Valeur ajoutée du taux de mentions - Gnle  6490 non-null    float64
 15  IPS voie GT                                11537 non-null   float64
 16  IPS voie PRO                               12719 non-null   float64
 17  IPS Ensemble GT-PRO                        17104 non-null   float64
 18  Ecart-type de l'IPS voie GT                11537 non-null   float64
 19  Ecart-type de l'IPS voie PRO               12719 non-null   float64
 20  Académie                                   218530 non-null  object
 21  Département                                218530 non-null  object
 22  Code du département                        218530 non-null  object
 23  Nom de l'établissment                      218530 non-null  object
 24  Code INSEE de la commune                   218530 non-null  object
 25  Nom de la commune                          218530 non-null  object
 26  Type de lycée                              218530 non-null  object
dtypes: float64(14), int64(1), object(12)
memory usage: 45.9+ MB

In [33]:
fichier_lycee.to_csv('donnee_temp/lycee.csv',index=False)